---
layout: default
---

<header>
    <h1>Derek Erdmann</h1>
</header>

<main>
    <p>Software engineer</p>

    <p>Find me on the internet:</p>

    <ul class="external_links">
        <li><a href="mailto:derek@derekerdmann.com" class="email icon-envelope">Email</a></li>
        <li><a href="https://github.com/derekerdmann" rel="me" class="github icon-github">GitHub</a></li>
        <li><a href="https://stackoverflow.com/users/247763/derekerdmann" rel="me" class="stackoverflow icon-stackexchange">Stack Overflow</a></li>
    </ul>
</main>
