---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <style>
      @-ms-viewport { width: device-width; zoom: 1.0; }
      @-o-viewport { width: device-width; zoom: 1.0; }
      @viewport { width: device-width; zoom: 1.0; }
    </style>

    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/tk.css" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

</head>
<body>

    <header>
        <span class="title">{{ page.title }}</span>
        <span class="byline">By Derek Erdmann</span>
    </header>

    <div class="wrapper">

        <div class="imperial-decoration"></div>

        <main class="build">
            {{ content }}

            <nav class="nav-article">
                Jump to item:
                <ul>
                    {% for post in site.posts reversed %}
                    <li><a href="#{{post.anchor}}">{{post.title}}</a></li>
                    {% endfor %}
                </ul>
            </nav>

            {% for post in site.posts reversed %}
            <article class="update">
                <h1 id="{{post.anchor}}"><a href="#{{post.anchor}}">{{post.title}}</a></h1>
                    <time datetime="{{post.date}}">{{post.date | date: "%B %-d %Y" }}</time>
                </h2>
                {{post.content}}
            </article>
            {% endfor %}
        </main>

    </div>

    <footer>
        Created in {{ site.time | date: "%Y" }} by <a href="//derekerdmann.com">Derek Erdmann</a>.
        This work is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            Creative Commons Attribution 4.0 International License</a>.

    </footer>

</body>
</html>
